#logo {
    display:block;
    margin-left: auto;
    margin-right: auto;
}
#header{
    background-color:#0a0a0a;
}
.dropbtn {
    background-color: white;
    color: black;
}
.dropdown-content{
    display:none;
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {display:block;}